# build artefacts
easing-gradients.sketchplugin/Contents/Sketch
easing-gradients.sketchplugin/Contents/Resources/_webpack_resources
easing-gradients.sketchplugin/Contents/Resources/webview.js

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
