:root {
  --color-dark: hsl(0, 0%, 8%);
  --color-dark-50: hsla(0, 0%, 8%, 0.5);
  --color-dark-dimmed: hsl(0, 0%, 4%);
  --color-dark-dimmed-transparent: hsla(0, 0%, 4%, 0);
  --color-dark-dimmed-more: hsl(0, 0%, 0%);
  --color-bright: hsl(0, 0%, 100%);
  --color-bright-50: hsl(0, 0%, 100%, 0.5);
  --color-bright-dimmed: hsl(0, 0%, 96%);
  --color-bright-dimmed-transparent: hsla(0, 0%, 96%, 0);
  --color-bright-dimmed-more: hsl(0, 0%, 92%);
  --color-brand: hsl(330, 100%, 45%);
  --color-themed-bg: var(--color-dark);
  --color-themed-bg-dimmed: var(--color-dark-dimmed);
  --color-themed-bg-dimmed-transparent: var(--color-dark-dimmed-transparent);
  --color-themed-bg-dimmed-more: var(--color-dark-dimmed-more);
  --color-themed-fg: var(--color-bright);
  --color-themed-fg-50: var(--color-bright-50);

  --lineLength-maxWidth: 35rem;
  --img-maxWidth: 51rem;

  --fontSize-html: 1.063rem;
  --fontSize-h2: 1.412rem;
  --fontSize-h1: 2rem;

  --lineHeight-body: 1.647rem;
  --lineHeight-margin-xsmall: calc(var(--lineHeight-body) / 4 * 1);
  --lineHeight-margin-small: calc(var(--lineHeight-body) / 4 * 3);
  --lineHeight-margin-medium: calc(var(--lineHeight-body) / 4 * 6);
  --lineHeight-margin-large: calc(var(--lineHeight-body) / 4 * 9);

  --spacer-xsmall: calc(var(--fontSize-h1) / 4);
  --spacer-small: calc(var(--fontSize-h1) / 2);
  --spacer-medium: var(--fontSize-h1);
  --spacer-large: calc(var(--fontSize-h1) * 2);

  --stroke-xsmall: 1px;
  --stroke-small: 1px;
  --stroke-medium: 2px;
  --stroke-large: 4px;
  --stroke-large--unitLess: 4;
  --stroke-xsmall--highRes: 0.5px;

  --opacity-low: 0.25;
  --opacity-mid: 0.5;
  --opacity-high: 0.95;

  --transitionDuration: 0.3s;
  --transitionFunction: ease;
  --transition: var(--transitionDuration) var(--transitionFunction);

  --zIndex-nav: 60;
  --zIndex-notification: 50;
  --zIndex-modal: 40;
  --zIndex-overlay: 30;
  --zIndex-editorSettings: 20;
  --zIndex-editor: 10;
  --zIndex-githubCorner: 1;

  --shadow1: 0 2px 16px hsla(0, 0%, 0%, 0.08);
  --shadow2: 0 0.25px 2px hsla(0, 0%, 0%, 0.16);
  --shadow1--hover: 0 5px 40px hsla(0, 0%, 0%, 0.12);
  --shadow2--hover: 0 1px 8px hsla(0, 0%, 0%, 0.08);
  --shadow:
    var(--shadow1),
    var(--shadow2),
    inset 0 2px 16px hsla(0, 0%, 0%, 0.0),
    inset 0 0.25px 2px hsla(0, 0%, 0%, 0.0);
  --shadow--inset:
    0 5px 40px hsla(0, 0%, 0%, 0),
    0 1px 8px hsla(0, 0%, 0%, 0),
    inset 0 1px 8px hsla(0, 0%, 0%, 0.08),
    inset 0 0.25px 2px hsla(0, 0%, 0%, 0.16);
  --shadow--hover:
    var(--shadow1--hover),
    var(--shadow2--hover),
    inset 0 2px 16px hsla(0, 0%, 0%, 0.0),
    inset 0 0.25px 2px hsla(0, 0%, 0%, 0.0);

  /* Sketch specific sizes... */
  --fontSize-html: 0.8rem;
  --fontSize-h2: 1.62rem;
  --fontSize-h1: 2.62rem;
  --lineHeight-body: 1.6rem;
}

.theme-secondary {
  --color-themed-bg: var(--color-bright);
  --color-themed-bg-dimmed: var(--color-bright-dimmed);
  --color-themed-bg-dimmed-more: var(--color-bright-dimmed-more);
  --color-themed-bg-dimmed-transparent: var(--color-bright-dimmed-transparent);
  --color-themed-fg: var(--color-dark);
  --color-themed-fg-50: var(--color-dark-50);
}

html {
  font-size: var(--fontSize-html);
}
