.u-lineLength {
  max-width: var(--lineLength-maxWidth);
  margin-left: auto;
  margin-right: auto;
}

/* Positioning */
.u-position-relative {
  position: relative;
}

.u-position-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-container {
  padding-right: var(--spacer-small);
  padding-left: var(--spacer-small);
  width: 100%;
}

.u-section {
  margin-bottom: var(--lineHeight-margin-large);
}

.u-section:last-child {
  margin-bottom: calc(var(--lineHeight-margin-large) + var(--lineHeight-margin-small));
}

.u-no-padding {
  padding: 0 !important;
}

.u-knob {
  border-radius: 50%;
  width: calc(1.5 * var(--spacer-small));
  height: calc(1.5 * var(--spacer-small));
  position: absolute;
  background-color: var(--color-bright);
  box-shadow: var(--shadow);
  transform: translate(-50%, -50%);
}
.u-knob:hover {
  box-shadow: var(--shadow--hover);
}

.u-grid {
  display: grid;
  grid-gap: var(--spacer-small);
}

.u-aspect--1-1,
.u-aspect--2-3 {
  position: relative;
  width: 100%;

}

.u-aspect--1-1::before,
.u-aspect--2-3::before {
  width: 100%;
  content: '';
  display: flex;
}

.u-aspect--2-1 > *,
.u-aspect--2-3 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-aspect--1-1::before {
  padding-top: 100%;
}

.u-aspect--2-3::before {
    padding-top: calc(100% * 2 / 3);
}

.u-marginBottom {
  margin-bottom: var(--lineHeight-margin-small);
}

.u-marginTop {
  margin-top: var(--lineHeight-margin-small);
}

.u-marginLeft {
  margin-left: var(--lineHeight-margin-small);
}

.u-textUppercase {
  text-transform: uppercase;
}

.u-textCapitalize {
  text-transform: capitalize;
}

/* Inputs */
.u-input {
  -webkit-appearance: none;
  display: flex;
  background: var(--color-themed-bg);
  color: var(--color-themed-fg);
  font-size: inherit;
  padding: var(--spacer-xsmall);
  border-radius: var(--spacer-xsmall);
  border-width: 0;
  border-color: var(--color-themed-bg);
  transition: var(--transition);
  box-shadow: var(--shadow);
  overflow: hidden;
  width: 100%;
}

.u-input:hover {
  box-shadow: var(--shadow--hover);
}

.u-input:focus {
  outline: none;
}

.u-input:active {
  box-shadow: var(--shadow--inset);
  transition: 0.1s var(--transitionFunction);
  transform: translateY(1px);
}

.u-input--inline {
  width: auto;
}

.u-icon {
  width: 16px;
  height: 16px;
}

.u-icon--chevronUp {
  position: absolute;
  right: 0;
  top: 0;
}

.u-icon--chevronDown {
  position: absolute;
  right: 0;
  bottom: 0;
}

.u-flex {
  display: flex;
}