.u-lineLength {
  max-width: var(--lineLength-maxWidth);
  margin-left: auto;
  margin-right: auto;
}

/* Positioning */
.u-position-relative {
  position: relative;
}

.u-position-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-container {
  padding-right: var(--spacer-small);
  padding-left: var(--spacer-small);
  width: 100%;
}

.u-section {
  margin-bottom: var(--lineHeight-margin-large);
}

.u-section:last-child {
  margin-bottom: calc(var(--lineHeight-margin-large) + var(--lineHeight-margin-small));
}

.u-no-padding {
  padding: 0 !important;
}

.u-knob {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: var(--color-bright);
  box-shadow: var(--shadow);
  transform: translate(-50%, -50%);
  &:hover {
    box-shadow: var(--shadow--hover);
  }
}

.u-grid {
  display: grid;
  grid-gap: var(--spacer-small);
}

.u-aspect--1-1,
.u-aspect--2-3 {
  position: relative;
  width: 100%;

}

.u-aspect--1-1::before,
.u-aspect--2-3::before {
  width: 100%;
  content: '';
  display: flex;
}

.u-aspect--2-1 > *,
.u-aspect--2-3 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-aspect--1-1::before {
  padding-top: 100%;
}

.u-aspect--2-3::before {
    padding-top: calc(100% * 2 / 3);
}

.u-marginBottom {
  margin-bottom: var(--lineHeight-margin-small);
}

.u-marginTop {
  margin-top: var(--lineHeight-margin-small);
}

.u-textUppercase {
  text-transform: uppercase;
}

.u-textCapitalize {
  text-transform: capitalize;
}
